<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="navbar-brand" href="#">Pasteler&iacute;a Nicolette</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Tortas</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Galletas</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Emporio</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cotill&oacute;n</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Carrito [0]</a>
    </div>
  </nav>