.contenedor_navbar {
  color: #3CBAC8;
}

.bg-nicolette-torta {
  background-color: #76808A !important;
}

.titulo {
  font-family: 'Pacifico', cursive;
  color: #f8f9fa !important;
  font-size: 1.8em;
  text-decoration: none;
}

.navbar-nav .nav-link {
    margin-right: 2.2em;
    margin-left: 2.2em;
    color: white;
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 1.8em;
}