<nav class="navbar navbar-expand-md navbar-light bg-nicolette-torta">
  
  <a routerLink="/inicio" class="titulo">Pasteler&iacute;a Nicolette</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tortas"><i class="fas fa-birthday-cake"></i> Tortas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="galletas"><i class="fas fa-cookie-bite"></i> Galletas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="emporio"><i class="fas fa-store"></i> Emporio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cotillon"><i class="fas fa-utensils"></i> Cotill&oacute;n</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cotillon"><i class="fas fa-shopping-basket"></i> Carrito [0]</a>
      </li>
    </ul>

  </div>
</nav>
