<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Productos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/inicio">Inicio</a></li>
        <li><a class="text-muted" routerLink="/tortas">Tortas</a></li>
        <li><a class="text-muted" routerLink="/galletas">Galletas</a></li>
        <li><a class="text-muted" routerLink="/emporio">Emporio</a></li>
        <li><a class="text-muted" routerLink="/cotillon">Cotill&oacute;n</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Nosotros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/nosotros">Nosotros</a></li>
        <li><a class="text-muted" routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Otros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/recomendado">Sitios Recomendados</a></li>
      </ul>
    </div>
    <div class="col-12 col-md">
      <a routerLink="/inicio" class="d-block mb-3 text-muted link-nicolette">Pasteler&iacute;a Nicolette <small
          class="d-block mb-3 text-muted">&copy; 2020</small></a>
      <i class="fab fa-instagram"></i>&nbsp;
      <i class="fab fa-whatsapp"></i>
    </div>
  </div>
</footer>
