<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">Pasteler&iacute;a Nicolette</small>
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Productos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Tortas</a></li>
          <li><a class="text-muted" href="#">Galletas</a></li>
          <li><a class="text-muted" href="#">Emporio</a></li>
          <li><a class="text-muted" href="#">Cotill&oacute;n</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Nosotros</a></li>
          <li><a class="text-muted" href="#">Contacto</a></li>
          <li><a class="text-muted" href="#">Mapa</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Otros</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Vegan Magazine</a></li>
          <li><a class="text-muted" href="#">Sitios Recomendados</a></li>
        </ul>
      </div>
    </div>
</footer>  