<div class="overflow-hidden m-md-2 text-center bg-light bg-wrapper-nicolette rounded-sm">

  <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light">
    <h1 class="display-4 font-weight-normal titulo_central">Pasteler&iacute;a Vegana</h1>
    <p class="lead font-weight-normal">Nuestra oferta está pensada en el placer gastronómico, libre de crueldad y
      m&aacute;s rico</p>
    <a class="btn btn-outline-secondary boton_sabermas" routerLink="/nosotros">Saber M&aacute;s</a>
  </div>
</div>

<div class="row m-md-2">
  <div class="col-12 col-lg-3 px-0">
    <div class="bg-dark text-center text-white overflow-hidden color-1 rounded-sm">
      <div class="py-3">
        <h2 class="display-5 titulo_tarjetas" routerLink="/tortas">Tortas</h2>
        <p class="lead px-2">¡Tenemos las mejores tortas veganas de chile!</p>
      </div>
      <div class="container-fluid">
        <div class="bg-light shadow-sm mx-auto img-torta tarjetas mb-2" routerLink="/tortas"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 px-0">
    <div class="bg-light text-center overflow-hidden color-2 rounded-sm">
      <div class="p-3">
        <h2 class="display-5 titulo_tarjetas" routerLink="/galletas">Galletas</h2>
        <p class="lead px-2">Galletas hechas con ingredientes libres de gluten</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto img-galleta tarjetas mb-2" routerLink="/galletas"></div>
    </div>
  </div>
  <div class="col-12 col-lg-3 px-0">
    <div class="bg-light text-center overflow-hidden color-3 rounded-sm">
      <div class="p-3">
        <h2 class="display-5 titulo_tarjetas" routerLink="/emporio">Emporio</h2>
        <p class="lead px-2">De la mano de emprendedores a tus manos</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto img-emporio tarjetas mb-2" routerLink="/emporio"></div>
    </div>
  </div>
  <div class="col-12 col-lg-3 px-0">
    <div class="bg-primary text-center text-white overflow-hidden color-4 rounded-sm">
      <div class="py-3">
        <h2 class="display-5 titulo_tarjetas" routerLink="/cotillon">Cotill&oacute;n</h2>
        <p class="lead px-4">Tenemos productos cruelty free para que tu fiesta sea inolvidable</p>
      </div>
      <div class="bg-light shadow-sm mx-auto img-cotillon tarjetas mb-2" routerLink="/cotillon"></div>
    </div>
  </div>
</div>
