.boton_sabermas {
  margin-bottom: 0.6em;
}

.tarjetas {
  width: 20em;
  height: 18em !important;
  border-radius: 21px 21px 21px 21px;
}

.bg-wrapper-nicolette {


  background-image: url("../../assets/img/810d0f3287d856977a4131819c2950f3.jpg") !important;


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo_central {
  font-family: 'Amatic SC';
  font-weight: bold !important;
  font-size: 4em;
}

.img-torta {
  background-image: url("../../assets/img/cake-1562457.jpg") !important;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-galleta {
  background-image: url("../../assets/img/heart-cookies-1-1483008.jpg") !important;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.img-emporio {
  background-image: url("../../assets/img/market-series-2-1554763.jpg") !important;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.img-cotillon {
  background-image: url("../../assets/img/party-dog.jpg") !important;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.color-1 {
  background-color: #F18179 !important;
}

.color-2 {
  background-color: #F5EEC4 !important;
}

.color-3 {
  background-color: #A3E8D6 !important;
}

.color-4 {
  background-color: #76808A !important;
}

.titulo_tarjetas {
  font-family: 'Pacifico', cursive;
  font-size: 2.4em;
}
