<div class="overflow-hidden p-md-5 m-md-3 text-center bg-light bg-wrapper-nicolette">

  <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light">
    <h1 class="display-4 font-weight-normal titulo_central">Pasteler&iacute;a Vegana</h1>
    <p class="lead font-weight-normal">Nuestra oferta está pensada en el placer gastronómico, libre de crueldad y
      m&aacute;s rico</p>
    <a class="btn btn-outline-secondary boton_sabermas" routerLink="/nosotros">Saber M&aacute;s</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden color-1">
    <div class="py-3">
      <h2 class="display-5 titulo_tarjetas">Tortas</h2>
      <p class="lead">¡Tenemos las mejores tortas veganas de chile!</p>
    </div>
    <div class="bg-light shadow-sm mx-auto img-torta tarjetas" routerLink="/tortas">

    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden color-2">
    <div class="p-3">
      <h2 class="display-5 titulo_tarjetas">Galletas</h2>
      <p class="lead">Galletas hechas con ingredientes libres de gluten</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto img-galleta tarjetas" routerLink="/galletas"></div>
  </div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden color-3">
    <div class="p-3">
      <h2 class="display-5 titulo_tarjetas">Emporio</h2>
      <p class="lead">De la mano de emprendedores a tus manos</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto img-emporio tarjetas" routerLink="/emporio"></div>
  </div>

  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden color-4">
    <div class="py-3">
      <h2 class="display-5 titulo_tarjetas">Cotill&oacute;n</h2>
      <p class="lead">Tenemos productos cruelty free para que tu fiesta sea inolvidable</p>
    </div>
    <div class="bg-light shadow-sm mx-auto img-cotillon tarjetas" routerLink="/cotillon"></div>
  </div>

</div>
