<div class="p-md-5 m-md-3 bg-light">

  <div class="row">
    <div class="col-md-6">
      <h2 class="featuette-heading">Formulario de Contacto <span class="text-muted">- Lo que necesites</span>
      </h2>
      <br />

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="¿C&oacute;mo te llamas?">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="ejemplo@gmail.com">
          <small id="emailHelp" class="form-text text-muted">Nunca lo compartiremos con nadie</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tel&eacute;fono de Contacto (Opcional)</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tipo de Pregunta</label>
          <select class="form-control">
            <option value="+46">Sugerencia</option>
            <option value="+45">Solicitud de Producto</option>
            <option value="+46">Pedido Especial</option>
            <option value="+45">Felicitaci&oacute;n</option>
            <option value="+45">Otro...</option>
          </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="500"
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
        aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

</div>
